body {
    margin: 0;
    font-family: "Eras Medium ITC", serif;
    font-size: 18px;
    background-image: url('../img/background.jpg');
}

button:hover {
    opacity: 0.8;
}

#nameContainer {
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    position: center;
    border: 3px solid #af194a;
    border-radius: 20px 15px;
    background-color: #f9f9f9;
    opacity: 0.98;
    width: 350px;
    height: 55px;
}

h1 {
    font-size: 45px;
    margin: auto;
    font-weight: bolder;
    text-align: center;
    font-family: "Eras Medium ITC", serif;
}

.container {
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    position: center;
    border: 3px solid #af194a;
    border-radius: 20px 15px;
    background-color: #f9f9f9;
    opacity: 0.98;
    width: 800px;
    height: 700px;
}

a {
    cursor: pointer;
    color: #000000;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}

#upper_menu {
    display: inline-table;
    border-radius: 20px;
    border-bottom: #af194a 3px ridge;
}

#main_um li {
    list-style-type: none;
    float: left;
}

#main_um li a {
    height: 120px;
    display: inline-block;
    float: left;
    margin: 25px 40px 3px 40px;
}

#main_um img:hover {
    opacity: 0.8;
}

label {
    margin-left: 15px;
    font-family: "Eras Medium ITC", serif;
}

/*//////////////////*/

.second_floor {
    margin-top: 145px;
    display: none;
    position: absolute;
    background-color: #6F7B8C;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    padding: 5px 5px;
    z-index: 1;
}

#main_um li:hover .second_floor {
    display: block;
    width: 480px;
    height: auto;
    border-radius: 15px 15px;
}

#main_um li:hover #ban {
    width: 200px;
    height: auto;
    max-height: 500px;
    border-radius: 10px 10px;;
    overflow: auto;
}

#main_um li:hover #liveList {
    width: 480px;
    height: auto;
    max-height: 500px;
    border-radius: 10px 10px;;
    overflow: auto;
}

/*///////////////////////////////////////*/
.animate {
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s;
    animation-duration: 0.5s;

}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/*/////////////////////////////*/

/*adding new restaurant*/
input[type=text] {
    width: 460px;
    padding: 12px 20px;
    margin: 5px 0px;
    display: inline-block;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=time]{
    border: 2px solid #4CAF50;
    padding: 12px 20px;
    margin: 5px 0px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 40%;
    padding-right: 5px;
}

.button button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 90px;
    margin-left: 180px;
    margin-top: 15px;
    border-radius: 4px;
    outline: none;
}

#backButt {
    margin-top: 160px;
    float: left;
}

#logoCont {
    position: center;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#logo {
    position: static;
    width: 600px;
    opacity: 0.5;
    transform: rotate(-25deg);
}

table {

    margin: 3px;
    width: 100%
}

.mainTable th {
    max-width: 183px;
    border-bottom: 3px ridge #aeaeae;
    padding-left: 2px;
    color: white;
}

.a {
    border-bottom: 2px solid #bfaf24;
}

.mainTable td {
    word-wrap: break-word;
    max-width: 183px;
    height: 50px;
    padding-left: 8px;
    color: white;
}

#banList td {
    height: 50px;
    color: white;
}

#banList .b {
    border-bottom: 2px solid #e42c2f;
}

.buttonD button {
    background-color: transparent;
    border: none;
    outline: none;
}

.offerTIme{
    margin-left: 35%;
}
