<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/FirstPage.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Order</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="loginHeader">
                <p id="header" th:text="${userHeader.firstName}+' '+${userHeader.lastName}"></p>
            </div>
            <div th:if="${activeOffers.isEmpty() == false}"></div>
            <div th:unless="${activeOffers.isEmpty() == true}">
                <div id="loginHeader2">
                    <p class="header2" th:text="${'Offers expires at: ' +activeOffers.get(0).expirationTime}"></p>
                    <p class="header2" th:id="${activeOffers.get(0).restaurant}"></p>
                    <script th:inline="javascript">
                        //<![CDATA[
                        var countDownDate = new Date(/*[[${activeOffers.get(0).duration}]]*/ 'default').getTime();
                        var x = setInterval(function () {
                            var now = new Date().getTime();
                            var distance = countDownDate - now;
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                            document.getElementById(/*[[${activeOffers.get(0).restaurant}]]*/'default').innerHTML = hours + "h "
                                + minutes + "m " + seconds + "s ";
                            if (distance < 0) {
                                clearInterval(x);
                                document.getElementById(/*[[${activeOffers.get(0).restaurant}]]*/'default').innerHTML = "EXPIRED";
                            }
                        }, 1000);
                        //]]>
                    </script>
                </div>
            </div>
            <div class="container">
                <div class="restaurantWindow" th:each="active:${activeOffers}">
                    <h1 th:text="${active.restaurant}"></h1>
                    <p th:text="${active.description}"></p>
                    <p><a th:href="${active.URL}">MENU</a></p>
                    <div th:if="${userHeader.role.equals('ADMIN')}" class="offerD">
                        <form th:action="@{/deleteOffer/{id}(id=${active.id})}"
                              th:object="${activeResponses}" method="post">
                            <input type="hidden" th:field="${activeResponses}"/>
                            <button type="submit" value="Delete"
                                    onClick="return confirm('Confirm delete?')"></button>
                        </form>
                    </div>
                </div>
                <button onclick="document.getElementById('id01').style.display='block'" id="orderBtn">Order</button>
                <div id="admin"><a href="/adminPa"><img th:src="@{/img/admin.png}" alt="Admin" title="Admin Page"/></a>
                </div>
                <div id="logout"><a href="/corpfood/logout"><img th:src="@{/img/logout.png}" alt="Logout"
                                                                 title="Logout"/></a>
                </div>
                <div class="mainTable">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Order</th>
                            <th>Price</th>
                            <th>Restaurant</th>
                        </tr>
                        <div th:each="key : ${keys}">
                            <div th:each="val : ${activeResponses.get(key)}">
                                <tr>
                                    <td class="abc" th:text="${val.user.firstName}+' '+${val.user.lastName}"></td>
                                    <td class="abc" th:text="${val.yourOrder}"></td>
                                    <td class="abc" th:text="${val.price}"></td>
                                    <td class="abc" th:text="${key}"></td>
                                    <td class="buttonD">
                                        <div th:if="${userHeader == val.user}">
                                            <form th:action="@{/selfDeleteUserResponse/{id}(id=${val.id})}"
                                                  th:object="${activeResponses}" method="post">
                                                <input type="hidden" th:field="${activeResponses}"/>
                                                <button class="deleteButton" type="submit" value="Delete"
                                                        onClick="return confirm('Confirm delete?')"/>
                                            </form>
                                        </div>
                                        <div th:unless="${userHeader != val.user}">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </table>
                </div>
                <div id="id01" class="modal">
                    <div class="container1 animate">
                        <form autocomplete="off" action="#" th:action="@{/addUserResponse}" th:object="${userR}"
                              method="post"
                              class="m-t" role="form" data-toggle="validator">
                            <label><b>Order: </b></label>
                            <br/>
                            <div th:each="offer : ${activeOffers}" class="radioB">
                                <input type="radio" id="radio1" name="offerID"
                                       th:value="${offer.getId()}"/>
                                <label for="radio1" th:text="${offer.getRestaurant()}" class="order"> Rest 1</label>
                            </div>
                            <br/>
                            <input type="text" th:field="*{yourOrder}" placeholder="Your order" name="order"/>
                            <br/>
                            <label><b>Price :</b></label>
                            <br/>
                            <input type="text" th:field="*{price}" placeholder="$ $ $" name="price" id="price"/>
                            <br/>
                            <button type="submit" title="Send your order" class="sendBtn">Send</button>
                            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                    class="cancelbtn">Cancel
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>