<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/SignUp.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Sing up</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form autocomplete="off" action="#" th:action="@{/signup}" th:object="${user}" method="post" class="m-t" role="form" data-toggle="validator">
                <div class="container">
                    <h1>Sign Up</h1>
                    <hr align="left" width="450px"/>
                    <label><b>First Name</b></label>
                    <br/>
                    <input type="text" th:field="*{firstName}" placeholder="First Name*" name="email" required="required"/>
                    <br/>
                    <label><b>Last Name</b></label>
                    <br/>
                    <input type="text" th:field="*{lastName}" placeholder="Last Name*" name="email" required="required"/>
                    <br/>
                    <label><b>Login</b></label>
                    <br/>
                    <input type="text" th:field="*{login}" placeholder="Login*" name="email" required="required"/>
                    <br/>
                    <label><b>Password</b></label>
                    <br/>
                    <input type="password" th:field="*{password}" placeholder="Password*" name="psw" required="required"/>
                    <br/>
                    <br/>
                    <input type="checkbox" id="myCheck" style="cursor: pointer"/> I agree to terms and <a href="#">conditions*</a>
                    <p id="notChecked"></p>
                    <div class="button">
                        <button type="reset" class="cancelbtn" id="button1" onclick="window.location.href='/login'" >Cancel</button>

                        <button type="submit" class="signupbtn" id="button2"  onclick="myFunction()">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function myFunction() {
        document.getElementById("myCheck").required = true;
        document.getElementById("notChecked").innerHTML = "You have to accept conditions of this side";
    }
</script>
</body>
</html>